<!-- Modal -->
<% content_for :scripts do %>
  <script type="text/javascript">//<![CDATA[
    window.referrers_email = 4;
  //]]>
  </script>
<% end %>
<div class="modal fade custom_modal" id="free_ride" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 0 5px;">
      <div class="modal-header">
        <p class="close museoSans100 text-lower pointer" data-dismiss="modal" aria-hidden="true">
          <span class="f14" style="line-height: 1.8; vertical-align: top;"><%= t 'links.close' %></span>
          <span style="margin-left: 5px;vertical-align: top;line-height: 1.6;" class="f16 text-upper">X</span>
        </p>

        <p class="f22 museoSans300 modal-title"><%= t 'forms.user.get_free_ride' %></p>
      </div>
      <div class="modal-body">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12">
              <p class="f16"><%= t 'forms.user.refer_friends_via_email' %></p>
            </div>
          </div>

          <form action="/referrer" data-remote="true" method="post" id="add_referrers">

            <span class="qunit-fail" id="errors_block_referrer" style="display: none">
              <p></p>
            </span>

            <div class="row" style="margin-top: 20px;">
              <div class="col-md-12">
                <%= label(:referrer, 'email[0]', t('activerecord.attributes.user.email')) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 form-group">
                <%= email_field(:referrer, 'email[0]', :placeholder => t('placeholders.general.email'), :class => 'form-control validate[required,custom[email]]') %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= label(:referrer, 'email[1]', t('activerecord.attributes.user.email')) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 form-group">
                <%= email_field(:referrer, 'email[1]', :placeholder => t('placeholders.general.email'), :class => 'form-control validate[required,custom[email]]') %>

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= label(:referrer, 'email[2]', t('activerecord.attributes.user.email')) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 form-group">
                <%= email_field(:referrer, 'email[2]', :placeholder => t('placeholders.general.email'), :class => 'form-control validate[required,custom[email]]') %>

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= label(:referrer, 'email[3]', t('activerecord.attributes.user.email')) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 form-group">
                <%= email_field(:referrer, 'email[3]', :placeholder => t('placeholders.general.email'), :class => 'form-control validate[required,custom[email]]') %>
              </div>
            </div>

            <div class="row" style="margin-top: 15px;">
              <div class="col-md-12">
                <a href="#" id="add_more_emails"><%= t 'links.add_more_emails' %></a>
              </div>
            </div>

            <div class="row" style="margin-top: 30px;">
              <div class="col-md-12">
                <button type="submit" class="btn btn-default text-upper f12"><%= t 'button.send_emails' %></button>
              </div>
            </div>
          </form>

          <div class="template" id="referrer_email_template">
            <div class="row">
              <div class="col-md-12">
                <%= label(:referrer, 'email[__i__]', t('activerecord.attributes.user.email')) %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 form-group">
                <%= email_field(:referrer, 'email[__i__]', :placeholder => t('placeholders.general.email'), :class => 'form-control validate[required,custom[email]]') %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
              <p class="f16"><%= t 'forms.user.refer_friends_from' %></p>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <span class="icons icons-facebook2" style="margin-right: 5px;"></span>
              <span class="icons icons-twitter2"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->