<% f ||= {} %>
<% if f.is_a?ActionView::Helpers::FormBuilder %>
  <%= f.hidden_field :user_id, :id => :user_id, :name => :user_id %>

  <div class="row">
    <div class="col-xs-6">
      <%= f.label :first_name %>
    </div>
    <div class="col-xs-6">
      <%= f.label :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 form-group">
      <%= f.text_field :first_name, :placeholder => t('placeholders.user.first_name'), :class => 'form-control validate[required]' %>
    </div>
    <div class="col-xs-6 form-group">
      <%= f.text_field :last_name, :placeholder => t('placeholders.user.last_name'), :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.label :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 form-group">
      <%= f.email_field :email, :placeholder => t('placeholders.general.email'), :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.label :phone %>
    </div>
    <div class="col-xs-6">
      <%= f.label :alt_phone %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 form-group">
      <%= f.text_field :phone, :placeholder => t('placeholders.general.phone'), :class => 'form-control validate[required]' %>
    </div>
    <div class="col-xs-6 form-group">
      <%= f.text_field :alt_phone, :placeholder => t('placeholders.general.phone'), :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.label :birth_date %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 form-group datepicker" <%if resource.birth_date%>data-date="<%=resource.birth_date%>"<%end%>>
      <%= f.text_field :birth_date, :placeholder => t('placeholders.general.birth_date'), :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.label :license_number %>
    </div>
    <div class="col-xs-3">
      <%= f.label :license_expore %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 form-group">
      <%= f.text_field :license_number, :placeholder => t('placeholders.driver.license_number'), :class => 'form-control validate[required]' %>
    </div>
    <div class="col-xs-3 form-group datepicker" <%if resource.license_expore%>data-date="<%=resource.license_expore%>"<%end%>>
      <%= f.text_field :license_expore, :placeholder => t('placeholders.driver.license_expore'), :class => 'form-control validate[required]' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.label :gender %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 form-group">
      <%= f.radio_button :gender, :male%>
      <%= f.label :gender_male, :male %>

      <%= f.radio_button :gender, :female %>
      <%= f.label :gender_female, :female %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.label :photo %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag resource.user.profile.photo.url(:medium), :style => 'width: 100%;' if resource.user %>
      <%= f.file_field :photo %>
    </div>
  </div>
<% end %>
