<div class="row footer">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <ul class="text-upper clearfix" style="margin-top: 20px;">
          <li><a href="#"><%= t 'footer.home' %></a></li>
          <li><a href="#"><%= t 'footer.about_us' %></a></li>
          <li><a href="#"><%= t 'footer.sign_in' %></a></li>
          <li><a href="#"><%= t 'footer.register' %></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="social_icons">
          <span class="icons icons-social_media icons-facebook"></span>
          <span class="icons icons-social_media icons-twitter"></span>
          <span class="icons icons-social_media icons-linkedin"></span>
          <div class="row">
            <div class="col-xs-12">
              <p class="f12"><%= t 'general.copyrigth' %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>